{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "8.9.0"
        }
      }
    ]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-async-generator-functions"
  ]
}
